<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div id="todoExample">
   <form v-on:submit.prevent="addNewTodo">
     <label>Add item</label>
     <input v-model="newItem"  id="new-todo" placeholder="edit me">
     <button>Add</button>
   </form>
   <ul>
     <li is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:title="todo.title"
      v-on:remove="todos.splice(index, 1)">

     </li>
   </ul>

  </div>

<script src="index.js"></script>
  </body>
</html>
